<?xml version='1.0' encoding='utf-8'?>
{{ ansible_managed|comment('xml') }}
<tomcat-users>
{% for role in tomcat_roles %}
  <role rolename="{{ role }}"/>
{% endfor %}

{% for user in tomcat_users %}
  <user name="{{ user.name }}" password="{{ user.password }}" roles="{{ user.roles|join(',') }}" />
{% endfor %}
</tomcat-users>
